@{
    ViewBag.Title = "Największy wspólny dzielnik";
}

<script>
    function getResults() {
        var a = getElement(1);
        var b = getElement(2);

        $.ajax({
            method: "POST",
            url: "/BasicAlgorithms/GCD?a=" + a + "&b=" + b,
            success: function (results) {
                $("#resultsContainer").html(results);
            }
        });
    }

    function getElement(number) {
        return $("#element" + number).val();
    }
</script>

<h2>Największy wspólny dzielnik (algorytm Euklidesa)</h2>
<h3>Idea</h3>
<p>
    Algorytm z cyklu "Każdy musi go znać". Jest to jednen z pierwszych algotyrmów jaki poznałem. Pewnie dlatego,
    że jego przeznaczenie jest oczywiste, można go zapisać w wersji z odejmowaniem lub z modulo (reszta z dzielenia),
    iteracyjnie lub rekurencyjnie.
</p>
<p>
    Ja przedstawiam wersję działającą iteracyjnie i korzystającą z działania modulo.
</p>

<h3>Kod źródłowy</h3>
<pre>
public long GCD(long a, long b)
{
    if (a == 0) return b;
    while (b != 0)
    {
        var c = a % b;
        a = b;
        b = c;
    }<br />
    return a;
}
</pre>

<h3>Spróbuj!</h3>
<div>
    <p>Podaj dwie liczby:</p>
    <div class="form-group" style="margin-left: 0;">
        <dl>
            <dt>Liczba pierwsza</dt>
            <dd>@Html.TextBox("element1", "", htmlAttributes: new { placeholder = "9", @class = "form-control", id = "element1" })</dd>

            <dt>Liczba druga</dt>
            <dd>@Html.TextBox("element2", "", htmlAttributes: new { placeholder = "9", @class = "form-control", id = "element2" })</dd>
        </dl>

    </div>
    <button onclick="getResults()" class="btn btn-primary">Pomnoż</button>
    <br /><br />
    <div id="resultsContainer"></div>
</div>
