@model Algorytmy.Models.ResultsViewModel

@if (Model.Success)
{
    <div class="alert alert-success">Wynik: @Model.Result</div>
}
else
{
    <div class="alert alert-danger">Podano niepoprawne dane.</div>
}
