@{
    ViewBag.Title = "Kolejka";
}

<h2>Kolejka</h2>
<p>
    Kolejka to kolekcja danych porządku FIFO (First In First Out). Tak jak w sklpie: kto pierwszy się ustawi w kolejce,
    ten pierwszy zostanie obsłużony.
</p>
<p>
    Do implementacji wykorzystałem zaimplementowaną wcześniej @Html.ActionLink("listę dwukierunkową", "List"),
    opakowaując ją i wystawiąjąc odpowiednie metody.
</p>
<h3>Kod źródłowy</h3>
<pre>
public class Queue&lt;T&gt;
{
    private List&lt;T&gt; _data;

    public Queue()
    {
        _data = new List&lt;T&gt;();
    }

    public int Count =&gt; _data.Count;

    public void Enqueue(T item)
    {
        _data.AddLast(item);
    }

    public T Dequeue()
    {
        var result = _data.First;
        _data.RemoveFirst();
        return result.Value;
    }

    public void Clear()
    {
        _data.Clear();
    }
}
</pre>