
@{
    ViewBag.Title = "Macierz";
}

<article>
    <header>
        <h1>Macierz</h1>
    </header>
    <section>
        <p>
            Poniższa implementacja macierzy zawiera:
            <ul>
                <li>indekser do odczytu i zapisu poszczególnych elementów macierzy,</li>
                <li>dodawanie macierzy zrealizowane za pomocą operatora <span class="math">+</span>,</li>
                <li>odejmowanie macierzy zrealizowane za pomocą operatora <span class="math">-</span>,</li>
                <li>mnożenie macierzy zrealizowane za pomocą operatora <span class="math">*</span>,</li>
                <li>mnożenie macierzy zrealizowane przez skalar za pomocą operatora <span class="math">*</span>,</li>
                <li>potęgowanie macierzy (szybkie) zrealizowane za pomocą operatora <span class="math">^</span>.</li>
            </ul>
            Ponieważ wyniki działań na standardowym typie danych (long) mogą się w nim nie zmieścić
            macierze zapisują dane modulo <span class="math">10<sup>8</sup></span> (sto milionów).
        </p>
    </section>
    <section>
        <header>
            <h1>Kod źródłowy</h1>
        </header>
        <script src="https://gist.github.com/krzysiekkogut/bb590456e0cba3d9f4590126d454103c.js"></script>
    </section>
</article>