@{
    ViewBag.Title = "Kolejka";
}

<article>
    <header>
        <h1>Kolejka</h1>
    </header>
    <section>
        <p>
            Kolejka to kolekcja danych porządku FIFO (First In First Out). Tak jak w sklpie: kto pierwszy się ustawi w kolejce,
            ten pierwszy zostanie obsłużony.
        </p>
        <p>
            Do implementacji wykorzystałem zaimplementowaną wcześniej @Html.ActionLink("listę dwukierunkową", "List"),
            opakowaując ją i wystawiąjąc odpowiednie metody.
        </p>
    </section>
    <section>
        <h1>Kod źródłowy</h1>
        <script src="https://gist.github.com/krzysiekkogut/da02f39a8822501cea346326996f02a8.js"></script>
    </section>
</article>